@import url(styles/header.css);

:root{
    --cor-de-fundo: #880f4c;
    --branco: #ffffff;
    --amarelo: #ffffff;
    --roxo: #880f4c;
    --roxo-degrade: linear-gradient(94.49deg, #000000 35.48%, #000000 143.32%);
    --preto: #000000;
    --fonte-roboto: 'Roboto', sans-serif;
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria:  'Josefin Sans', sans-serif;
    --fonte-secundaria-normal: 400;
    --fonte-secundaria-bold: 700;
  }
   
body{
    background-color: var(--cor-de-fundo);    
    font-size: 16px;
    font-weight: 400;
}