@import url(styles/header.css);

:root{
    --cor-de-fundo: #dd5499;
    --branco: #ffffff;
    --amarelo: #ffffff;
    --roxo: #ffffff;      
    --roxo-degrade: linear-gradient(94.49deg, #ffffff 35.48%, #f7f7f7 143.32%);
    --preto: #000000;
    --fonte-roboto: 'Roboto', sans-serif;
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria:  'Josefin Sans', sans-serif;
    --fonte-secundaria-normal: 400;
    --fonte-secundaria-bold: 700;
  }
   
body{
    background-color: var(--cor-de-fundo);    
    font-size: 16px;
    font-weight: 400;
}